@use "styles/variables" as vars;

.import-export {
    max-width: 1440px;
    padding: 64px 24px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.import-export__title {
    font-size: 32px;
    font-family: vars.$font-secondary;
    color: vars.$color-text-black;
    margin-bottom: 64px;
}

.import-export__cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 64px;

    .import-export__card {
        flex: 0 1 480px;
        padding: 24px;
        background-color: vars.$color-background-primary;
        border-radius: 12px;
        box-shadow: 0px 6px 20px 10px rgba(82, 17, 12, 0.1);
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }
}

.import-export__card {
    h3 {
        color: vars.$color-accent-primary;
        font-size: 24px;
        font-weight: 500;
    }

    p {
        color: vars.$color-text-black;
        font-size: 16px;
    }
}

.import-export__btn {
    align-self: center;
    margin-top: auto;
    padding: 8px 18px;
    font-size: 14px;
    color: vars.$color-text-black;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid vars.$color-accent-primary;
    transition: 0.2s ease-in;

    &:hover {
        box-shadow: 0 0 10px rgba(82, 17, 12, 0.8);
        background-color: vars.$color-accent-primary;
        color: vars.$color-text-white;
    }
}

.import-export__btn--primary {
    background-color: vars.$color-accent-primary;
    color: vars.$color-text-white;
}

app-input-file {
    margin-top: 20px;
}

@media (max-width: 680px) {
    .import-export__cards {
        flex-direction: column;
        align-items: center;

        .import-export__card {
            flex: 0 1 235px;
            width: 100%;
            max-width: 420px;
        }
    }
}
