<header class="header">
  <div class="header__container">
    <a routerLink="/" class="header__logo">{{ headerState().logoText }}</a>
    <nav class="header__nav">
      <ul>
        @for (item of headerState().navItems; track item.label) {
          <li>
            <a [routerLink]="item.routerLink" [fragment]="item.fragment">{{ item.label }}</a>
          </li>
        }
        @if (authSessionService.isLoggedIn) {
          <li>
            <button type="button" [routerLink]="['/admin']">Админ панель</button>
          </li>
        }
        @if (headerState().showAction) {
          <li>
            @if (authSessionService.isLoggedIn) {
              <button type="button" (click)="logout()">Выйти</button>
            } @else {
              <button type="button" (click)="login()">Войти</button>
            }
          </li>
        }
      </ul>
    </nav>
  </div>
</header>
