<section class="profile-info section-card">
  <div class="content">
    <div class="profile-info_img">
      <img [src]="profileImageSrc" alt="Profile Picture" />
    </div>
    <div class="profile-info_details">
      <dl class="profile-list">
        <dt>Пол</dt><dd>{{ genderLabel }}</dd>
        <dt>Возраст</dt><dd>{{ageWord(actor?.birthDate ?? '-')}}</dd>
        <dt>Рост</dt><dd>{{actor?.height ?? '—'}} см</dd>
        <dt>Вес</dt><dd>{{actor?.weight ?? '—'}} кг</dd>
        <dt>Цвет волос</dt><dd>{{capitalize(actor?.hairColor)}}</dd>
        <dt>Цвет глаз</dt><dd>{{capitalize(actor?.hairColor)}}</dd>
        <dt>Образование</dt><dd>{{fullEducationString}}</dd>
      </dl>
      <div class="line"></div>
      <div class="profile-contacts">
        <h3>Контакты</h3>
        <p class="profile-contacts_phone">+7(777)777-77-77</p>
        <p class="profile-contacts_email">example@example.com</p>
        <div class="profile-contacts_links">
            <a href="#">VK</a>
            <a href="#">Max</a>
            <a href="#">YouTube</a>
            <a href="#" class="disabled">Личный сайт</a>
        </div>
      </div>
    </div>
  </div>
</section>
