.wrapper {
    height: 100vh !important;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-content {
        background-image: url("/images/backgrounds/main.jpg");
        background-position: center;
        flex: 1 1 auto;
    }
}
