@use "styles/variables" as vars;
@use 'styles/fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: vars.$font-secondary;
}

a{
  display: inline-block;
  font-family: vars.$font-primary;
  text-decoration: none;
  color: vars.$color-text-white;
}