@use "styles/variables" as vars;
@use "styles/fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root,
html {
  scroll-behavior: smooth;
}

body {
  font-family: vars.$font-primary;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: vars.$color-text-white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: vars.$color-text-white;
}
