@use "styles/variables" as vars;

.profile-card {
  max-width: 300px;
  border-radius: 12px;
  overflow: hidden;
  background-color: vars.$color-background-primary;
  box-shadow: 0px 6px 12px 6px #52110c1a;
  cursor: pointer;
  transition:
    transform 0.25s ease,
    filter 0.25s ease;
  transform-origin: center;

  &:hover {
    transform: translateY(-8px);
    filter: drop-shadow(0 10px 20px rgba(82, 17, 12, 0.2));
  }

  &:active {
    transform: translateY(-2px);
  }
}

.profile-card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center 25%;
}

.profile-card__content {
  padding: 20px 16px 16px;
  text-align: center;
}

.profile-card__name {
  margin: 0;
  font-family: vars.$font-secondary;
  font-size: 19px;
  font-weight: 600;
  color: vars.$color-accent-primary;
}

.profile-card__age {
  margin: 14px 0px;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400;
  color: vars.$color-accent-primary;
  opacity: 0.7;
}

.profile-card__education {
  font-size: 14px;
  font-weight: 400;
  color: vars.$color-accent-primary;
  opacity: 0.5;
}
